* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", serif;
  font-size: 14px;
}

main {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  overflow: hidden;
  width: 600px;
  max-width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.image {
  width: 50%;
  height: auto;
  background-image: url("/images/image-product-desktop.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 0px 0px 15px;
}
.content {
  padding: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content h5 {
  color: hsl(228, 12%, 48%);
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 5px;
}

.content h1 {
  color: hsl(212, 21%, 14%);
  margin-bottom: 20px;
  line-height: 1.2;
  font-family: "Fraunces", serif;
  font-size: 2.4em;
}

.description {
  color: hsl(229, 11%, 48%);
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 500;
}

.price {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  margin-bottom: 20px;
}

.new-price {
  color: hsl(158, 36%, 37%);
  font-weight: 700;
  font-size: 2.5em;
  margin-right: 20px;
  font-family: "Fraunces", serif;
}
.old-price {
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  text-decoration: line-through;
}

button {
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 15px;
  font-weight: 700;
  border: none;
  font-size: 1em;
}

button:hover {
  background-color: hsl(158, 36%, 25%);
  cursor: pointer;
}

button i {
  margin-right: 10px;
  color: hsl(0, 0%, 100%);
  font-size: large;
}

@media screen and (max-width: 500px) {
  body {
    min-height: 100vh;
    height: auto;
  }
  main {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .image {
    width: 100%;
    aspect-ratio: 4 / 3;
    background-image: url("../images/image-product-mobile.jpg");
    background-size: cover;
    border-radius: 15px 15px 0 0;
  }
  .content {
    padding: 30px;
    width: 100%;
  }
  .content h5 {
    color: hsl(228, 12%, 48%);
    margin-bottom: 10px;
    font-weight: 500;
  }
}
