*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: "Young Serif";
  src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
  font-family: "Outfit";
  src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(30, 54%, 90%);
  font-family: "Outfit";
}
hr {
  border: none;
  height: 1.5px;
  background-color: hsl(0, 0%, 90%);
  margin: 30px 0;
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: 600;
  letter-spacing: 2px;
  color: hsl(212, 27%, 19%);
  margin-bottom: 0;
}
p {
  font-size: 16px;
  font-family: "Outfit", serif;
  color: hsl(30, 10%, 34%);
}
.content {
  max-width: 60%;
  min-width: 60%;
  margin: auto;
  margin-top: 120px;
  padding: 30px;
  background-color: hsl(0, 0%, 100%);
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
img {
  width: 100%;
  border-radius: 20px;
  height: auto;
}

.image-container {
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}

.preparation-time {
  margin-top: 30px;
  background-color: hsl(323, 80%, 98%);
  padding: 20px;
  border-radius: 15px;
}
.preparation-time h2 {
  font-family: "Outfit", serif;
  font-weight: 500;
  color: hsl(332, 51%, 32%);
  margin: 0px;
}
.preparation-time ul {
  padding-left: 20px;
  margin-top: 15px;
  color: hsl(332, 51%, 32%);
}
.preparation-time li {
  margin-bottom: 8px;
  font-size: 16px;
  color: hsl(30, 10%, 34%);
  padding-left: 10px;
}
.preparation-time li::marker {
  color: hsl(332, 51%, 32%);
}
.preparation-time li strong {
  margin-bottom: 8px;
  font-size: 16px;
  color: hsl(30, 10%, 34%);
  font-weight: 500;
}

.ingredients {
  margin-top: 30px;
}

.ingredients h2 {
  font-family: "Young Serif", serif;
  font-weight: 500;
  color: hsl(14, 45%, 36%);
  margin: 0px;
  font-size: 30px;
}

.ingredients ul {
  padding-left: 0px;
  margin-left: 20px;
  margin-top: 15px;
  font-family: "Outfit", serif;
  color: hsl(30, 10%, 34%);
}

.ingredients li {
  margin-bottom: 8px;
  padding-left: 10px;
  list-style-type: square;
  font-size: 16px;
}

.ingredients li::marker {
  color: hsl(14, 45%, 36%);
  font-size: 12px;
}

.instructions h2 {
  font-family: "Young Serif", serif;
  font-weight: 500;
  color: hsl(14, 45%, 36%);
  margin: 0px;
  font-size: 30px;
}

.instructions ol {
  padding-left: 30px;
  margin-top: 15px;
  font-family: "Outfit", serif;
  color: hsl(30, 10%, 34%);
  font-size: 16px;
}

.instructions li {
  margin-bottom: 15px;
  padding-left: 15px;
}

.instructions li strong {
  font-weight: 500;
}
.instructions li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 500;
  font-size: 16px;
}

.nutrition h2 {
  font-family: "Young Serif", serif;
  font-weight: 500;
  color: hsl(14, 45%, 36%);
  margin: 0px;
  font-size: 30px;
}

.nutrition ul {
  padding-left: 0px;
  font-family: "Outfit", serif;
  color: hsl(30, 10%, 34%);
  list-style-type: none;
}

.nutrition li {
  margin-left: 30px;
  font-size: 16px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.nutrition hr {
  border: none;
  height: 1px;
  background-color: hsl(0, 0%, 90%);
  margin-top: 10px;
}

.value {
  font-weight: 500;
  text-align: left;
  font-family: "Outfit", serif;
  color: hsl(14, 45%, 36%);
}

.label {
  font-size: 16px;
  color: hsl(30, 10%, 34%);
  width: 50%;
}

@media screen and (max-width: 320px) {
  .content {
    padding: 0;
    width: 100%;
    max-width: none;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    border-radius: 0;
  }

  .image-container {
    width: calc(100% + 40px);
    height: auto;
    border-radius: 0;
    margin: -20px;
    margin-bottom: 30px;
    padding: 0;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 0;
  }

  h1,
  h2 {
    font-size: 1.8rem;
  }
}
